.clearfix {
  clear: both;
  overflow: hidden;
}

body > header {
  background-color: rgb(22, 247, 41);
  position: relative;
  padding: 10px;
}

main {
  padding: 10px;
  font-size: 1.1em;
  line-height: 1.4em;
}

footer {
  padding: 10px;
}