.clearfix {
  clear: both;
  overflow: hidden;
}

body > header {
  background-color: rgb(22, 247, 41);
  position: relative;
  padding: 10px;
}

main {

  padding: 10px;
  font-size: 1.1em;
  line-height: 1.4em;
  margin-top: 5px;
}

form{
  width: 100%;
  justify-self: center;
  text-align: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
input, textarea, button {
  width: 100%;
  margin-bottom: 5vw;
  padding: 3vw 0;
  border: none;
  border-radius: 3px;
}

input, textarea {
  width: 98%;
  padding-left: 2%;
}

button {
  text-transform: capitalize;
  background-color: #444;
  color: #ddd;
  font-size: 4vw;
  font-weight: bolder;
}
